<form [formGroup]="locationForm">
  <div class="form">
    <div class="block">
      <h2>General Information</h2>

      <mat-form-field class="row">
        <input matInput formControlName="name_no" maxlength="50">
        <mat-label>Location Nickname NOR</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="name_en" maxlength="50">
        <mat-label>Location Nickname ENG</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="url">
        <mat-label>URL</mat-label>
      </mat-form-field>

      <!-- Normal mode label/message - i.e. create new -->
      <ng-container *ngIf="locationForm.value.type === 'address' || locationForm.value.type === 'mazemap' || locationForm.value.type === 'coords'">
        <label id="example-radio-group-label">Select location type:</label>
        <p class="weak-text">
          (Changing type will clear the location-type data below.)
        </p>
      </ng-container>
      <!-- Edit mode label/message -->
      <ng-container *ngIf="disableRadioBtn">
        <label id="example-radio-group-label">Selected location type:</label>
        <p class="weak-text">
          (Location type cannot be changed on an existing object.)
        </p>
      </ng-container>
      
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        formControlName="type"
        (ngModelChange)="onTypeChange()">
        <!-- Hardcoded radio button value types. Acceptable because they are unlikely to be changed, and if so easy to refactor -->
        <mat-radio-button [value]="'none'">None</mat-radio-button>
        <mat-radio-button [value]="'address'">Address</mat-radio-button>
        <mat-radio-button [value]="'mazemap'">MazeMap</mat-radio-button>
        <mat-radio-button [value]="'coords'">Coordinates</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="block map-block" *ngIf="locationForm.value.type === 'mazemap' || this.loc.type === 'mazemap'">
      <h2>MazeMap</h2>

      <div class="map-input">
        <mat-form-field class="row">
          <input matInput formControlName="mazemap_campus_id">
          <mat-label>Campus ID</mat-label>
        </mat-form-field>

        <mat-form-field class="row">
          <input matInput formControlName="mazemap_poi_id">
          <mat-label>POI ID</mat-label>
        </mat-form-field>
      </div>

      <div class="map-container">
        <app-mazemap></app-mazemap>
      </div>
    </div>

    <div class="block" *ngIf="locationForm.value.type === 'address' || this.loc.type === 'address'">
      <h2>Address</h2>
      <mat-form-field class="row">
        <input matInput formControlName="address_street">
        <mat-label>Address</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="address_postcode">
        <mat-label>Postal Code</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="city_name">
        <mat-label>City</mat-label>
      </mat-form-field>
    </div>

    <div class="block map-block" *ngIf="locationForm.value.type === 'coords' || this.loc.type === 'coords'">
      <h2>Coordinate</h2>

      <div class="map-input">
        <p class="weak-text">Click on the map to automatically get coordinates!</p>
        
        <br>

        <mat-form-field class="row">
          <input matInput formControlName="coordinate_lat">
          <mat-label>Latitude</mat-label>
        </mat-form-field>

        <mat-form-field class="row">
          <input matInput formControlName="coordinate_long">
          <mat-label>Longitude</mat-label>
        </mat-form-field>
      </div>

      <div class="map-container">
        <app-map (coords)="onNewCoords($event)"></app-map>
      </div>
    </div>

  </div>
</form>
