<form [formGroup]="locationForm">
  <div class="form">
    <div class="block">
      <h2>General Information</h2>
      
      <mat-form-field class="row">
        <input matInput formControlName="name_no" maxlength="50"> 
        <mat-label>Location Nickname NOR</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="name_en" maxlength="50">
        <mat-label>Location Nickname ENG</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="url">
        <mat-label>URL</mat-label>
      </mat-form-field>

      <label id="example-radio-group-label">Select location type:</label>
      <p class="weak-text" *ngIf="locationForm.value.type === 'Address' || locationForm.value.type === 'Mazemap' || locationForm.value.type === 'Coordinate'">
        (Changing type will clear location type data.)
      </p>      
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="type"
        (ngModelChange)="onTypeChange()">
        <mat-radio-button class="example-radio-button" *ngFor="let t of types" [value]="t">
          {{t}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="block" *ngIf="locationForm.value.type == 'Mazemap'">
      <h2>MazeMap</h2>

    </div>

    <div class="block" *ngIf="locationForm.value.type == 'Address'">
      <h2>Address</h2>
      <mat-form-field class="row">
        <input matInput formControlName="address_street">
        <mat-label>Address</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="address_postcode">
        <mat-label>Postal Code</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="city_name">
        <mat-label>City</mat-label>
      </mat-form-field>
    </div>

    <div class="block" *ngIf="locationForm.value.type == 'Coordinate'">
      <h2>Coordinate</h2>

      <mat-form-field class="row">
        <input matInput formControlName="coordinate_lat">
        <mat-label>Latitude</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="coordinate_long">
        <mat-label>Longitude</mat-label>
      </mat-form-field>
    </div>

  </div>
</form>
