<form [formGroup]="eventForm">
  <div class="form">
    <hr>

    <div class="block">
      <h2>General Information</h2>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="block">
        <mat-tab label="🇳🇴 NOR">
          <mat-form-field class="row">
            <input matInput formControlName="name_no" maxlength="50">
            <mat-label>Event Name NOR</mat-label>
            <mat-hint align="end">{{eventForm.get('name_no')?.value?.length || 0}} / 50</mat-hint>
            <mat-error *ngIf="eventForm.controls['name_no'].hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="row">
            <input matInput formControlName="info_no" maxlength="180">
            <mat-label>Informational NOR</mat-label>
            <mat-hint align="end">{{eventForm.get('info_no')?.value?.length || 0}} / 180</mat-hint>
          </mat-form-field>
          
          <app-markdown-textfield 
            class="row" (newHtmlText)="onDescriptionNoChange($event)" [placeholder]="'Description NOR'" [value]="eventForm.get('description_no')?.value"></app-markdown-textfield>
        </mat-tab>

        <mat-tab label="🇺🇸 ENG">
          <mat-form-field class="row">
            <input matInput formControlName="name_en" maxlength="50">
            <mat-label>Event Name ENG</mat-label>
            <mat-hint align="end">{{eventForm.get('name_en')?.value?.length || 0}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field class="row">
            <input matInput formControlName="info_en" maxlength="180">
            <mat-label>Informational ENG</mat-label>
            <mat-hint align="end">{{eventForm.get('info_en')?.value?.length || 0}} / 180</mat-hint>
          </mat-form-field>

          <app-markdown-textfield class="row" (newHtmlText)=onDescriptionEnChange($event) [placeholder]="'Description ENG'" [value]="eventForm.get('description_en')?.value"></app-markdown-textfield>
        </mat-tab>
      </mat-tab-group>
      
      <div class="dual-column-container row">
        <div class="column">
          <app-datetime 
            (newDatetime)=onTimeStartChange($event) 
            [dateLabel]="'Start Date'" 
            [timeLabel]="'Start Time'"
            [isDateRequired]="true"
            [isTimeRequired]="true" 
            [timeDisableable]="true" 
            [value]="eventForm.get('time_start')?.value">
          </app-datetime>

          <app-datetime 
            (newDatetime)=onTimeEndChange($event) 
            [dateLabel]="'End Date'" 
            [timeLabel]="'End Time'"
            [isDateRequired]="true"
            [isTimeRequired]="true"  
            [timeDisableable]="true" 
            [value]="eventForm.get('time_end')?.value">
          </app-datetime>

          <app-datetime 
            (newDatetime)=onTimePublishChange($event) 
            [dateLabel]="'Publish Date'" 
            [timeLabel]="'Publish Time'"
            [value]="eventForm.get('time_publish')?.value">
          </app-datetime>
        </div>

        <div class="column">
          <div *ngIf="categories.length > 0">
            <mat-form-field class="dd">
              <mat-label>Category</mat-label>
              
              <input
                type="text"
                matInput
                [formControl]="autoControlCats"
                [matAutocomplete]="autoCat"/>

              <mat-autocomplete autoActiveFirstOption #autoCat="matAutocomplete" [displayWith]="displayCategoryFn">
                <mat-option
                  *ngFor="let o of filteredCats | async"
                  [value]="o"
                >
                  {{ o.name_en || o.name_no }}
                </mat-option>
              </mat-autocomplete>

              <mat-error *ngIf="eventForm.controls['category'].hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="organizations.length > 0">
            <mat-form-field class="dd">
              <mat-label>Organization</mat-label>
              <input
                type="text"
                matInput
                [formControl]="autoControlOrgs"
                [matAutocomplete]="autoOrg"
                />
                
              <mat-autocomplete autoActiveFirstOption #autoOrg="matAutocomplete" [displayWith]="displayOrganizationFn">
                <mat-option
                  *ngFor="let o of filteredOrgs | async"
                  [value]="o"
                >
                  {{ o.name_en || o.name_no }}
                </mat-option>
              </mat-autocomplete>

              <mat-error *ngIf="eventForm.controls['organization'].hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>

    <div class="block">
      <h2>Signup</h2>
      <mat-form-field class="row">
        <input matInput formControlName="link_signup">
        <mat-label>Signup Link</mat-label>
      </mat-form-field>

      <div class="dual-column-container row">
        <div class="column">
          <app-datetime
            (newDatetime)=onSignupReleaseChange($event) 
            [dateLabel]="'Release Date'" 
            [timeLabel]="'Release Time'" 
            [value]="eventForm.get('time_signup_release')?.value">
          </app-datetime>

          <app-datetime 
            (newDatetime)=onSignupDeadlineChange($event) 
            [dateLabel]="'Deadline Date'" 
            [timeLabel]="'Deadline Time'" 
            [timeDisableable]="true" 
            [value]="eventForm.get('time_signup_deadline')?.value">
          </app-datetime>
        </div>
        
        <div class="column">
          <div>
            <mat-form-field>
              <input matInput type="number" min="0" step="1" formControlName="capacity" placeholder="Enter number">
              <mat-label>Capacity</mat-label>
              <mat-error *ngIf="eventForm.controls['capacity'].hasError('min')">
                Number must be <strong>positive</strong>
              </mat-error>
              <mat-error *ngIf="eventForm.controls['capacity'].hasError('decimal')">
                Number cannot be a <strong>decimal</strong>
              </mat-error>
            </mat-form-field>
            <mat-slide-toggle style="margin-left: 1rem;">Is full</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <h2>Image Links</h2>
      <mat-form-field class="row">
        <input matInput formControlName="image_small">
        <mat-label>Image Small Link</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="image_banner">
        <mat-label>Image Banner Link</mat-label>
      </mat-form-field>
    </div>

    <div class="block">
      <h2>Social Links</h2>
      <mat-form-field class="row">
        <input matInput formControlName="link_facebook">
        <mat-label>Facebook Link</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="link_discord">
        <mat-label>Discord Link</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="link_stream">
        <mat-label>Stream Link</mat-label>
      </mat-form-field>
    </div>
  </div>
</form>