<form [formGroup]="eventForm">
  <div class="form">
    <hr>

    <div class="block">
      <h2>General Information</h2>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="block">
        <mat-tab label="🇳🇴 NOR">
          <div class="outline">
            <mat-form-field class="row">
              <input matInput formControlName="name_no" maxlength="50">
              <mat-label>Event Name NOR</mat-label>
              <mat-hint align="end">{{eventForm.get('name_no')?.value?.length || 0}} / 50</mat-hint>
              <mat-error *ngIf="eventForm.controls['name_no'].hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="row">
              <input matInput formControlName="informational_no" maxlength="180">
              <mat-label>Informational NOR</mat-label>
              <mat-hint align="end">{{eventForm.get('informational_no')?.value?.length || 0}} / 180</mat-hint>
            </mat-form-field>

            <app-markdown-textfield
              class="row" 
              (newMdText)="onDescriptionNoChange($event)"
              [placeholder]="'Description NOR'" 
              [value]="eventForm.get('description_no')?.value">
            </app-markdown-textfield>
          </div>
        </mat-tab>

        <mat-tab label="🇺🇸 ENG">
          <div class="outline">
            <mat-form-field class="row">
              <input matInput formControlName="name_en" maxlength="50">
              <mat-label>Event Name ENG</mat-label>
              <mat-hint align="end">{{eventForm.get('name_en')?.value?.length || 0}} / 50</mat-hint>
            </mat-form-field>

            <mat-form-field class="row">
              <input matInput formControlName="informational_en" maxlength="180">
              <mat-label>Informational ENG</mat-label>
              <mat-hint align="end">{{eventForm.get('informational_en')?.value?.length || 0}} / 180</mat-hint>
            </mat-form-field>

            <app-markdown-textfield 
              class="row" 
              (newMdText)=onDescriptionEnChange($event) 
              [placeholder]="'Description ENG'" 
              [value]="eventForm.get('description_en')?.value">
            </app-markdown-textfield>
          </div>
        </mat-tab>
      </mat-tab-group>

      <div class="general-grid">
        <!-- Drop Down menu with Autocomplete capabilities for categories -->
        <div id="selectorCategory">
          <mat-form-field class="row" *ngIf="categories.length > 0; else elseCatBlock">
            <mat-label>Category</mat-label>

            <input
              required
              type="text"
              matInput
              [formControl]="autoControlCats"
              [matAutocomplete]="autoCat"/>

            <mat-autocomplete autoActiveFirstOption #autoCat="matAutocomplete" [displayWith]="displayCategoryFn">
              <mat-option
                *ngFor="let o of filteredCats | async"
                [value]="o"
              >
                <div
                  [style.width.px]="16"
                  [style.height.px]="16"
                  [style.border-radius]="'50%'"
                  [style.display]="'inline-block'"
                  [style.margin-right.px]="6"
                  [style.background-color]="'#' + o.color">
                </div>
                {{ o.name_en || o.name_no }}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="eventForm.controls['category'].hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ng-template #elseCatBlock>Could not fetch categories input!</ng-template>
        </div>

        <!-- Drop Down menu with Autocomplete capabilities for organizations -->
        <div id="selectorOrganization">
          <mat-form-field class="row" *ngIf="organizations.length > 0; else elseOrgBlock">
            <mat-label>Organization</mat-label>
            <input
              required
              type="text"
              matInput
              [formControl]="autoControlOrgs"
              [matAutocomplete]="autoOrg"
              />

            <mat-autocomplete autoActiveFirstOption #autoOrg="matAutocomplete" [displayWith]="displayOrganizationFn">
              <mat-option
                *ngFor="let o of filteredOrgs | async"
                [value]="o"
              >
                {{ o.name }}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="eventForm.controls['organization'].hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ng-template #elseOrgBlock>Could not fetch organizations input!</ng-template>
        </div>

        <!-- Drop Down menu with Autocomplete capabilities for locations -->
        <div id="selectorLocation">
          <mat-form-field class="row" *ngIf="locations.length > 0; else elseLocBlock">
            <mat-label>Location</mat-label>
            <input
              type="text"
              matInput
              [formControl]="autoControlLocs"
              [matAutocomplete]="autoLoc"
              />

            <mat-autocomplete autoActiveFirstOption #autoLoc="matAutocomplete" [displayWith]="displayLocationFn">
              <mat-option
                *ngFor="let l of filteredLocs | async"
                [value]="l"
              >
                <div class="dropdown-item">
                  <span>{{ l.name }}</span> |
                  <small>{{ l.details }}</small>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <ng-template #elseLocBlock>Could not fetch locations input!</ng-template>
        </div>

        <!-- Drop Down menu with Autocomplete capabilities for rules -->
        <div id="selectorRule">
          <mat-form-field class="row" *ngIf="rules.length > 0; else elseRuleBlock">
            <mat-label>Rule</mat-label>
            <input
              type="text"
              matInput
              [formControl]="autoControlRules"
              [matAutocomplete]="autoRule"
              />

            <mat-autocomplete autoActiveFirstOption #autoRule="matAutocomplete" [displayWith]="displayRuleFn">
              <mat-option
                *ngFor="let r of filteredRules | async"
                [value]="r"
              >
                <div class="dropdown-item">
                  <span>{{ r.name }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <ng-template #elseRuleBlock>Could not fetch rules input!</ng-template>
        </div>

        <app-audience-selector
          id="selectorAudience"
          class="row"
          [values]="eventForm.get('audience')?.value"
          [label]="'Audiences'"
          [placeholder]="'Select audience'"
          (newChipSet)="onAudienceSetChange($event)">
        </app-audience-selector>

        <mat-form-field id="timeType" class="row">
          <mat-label>Time Type</mat-label>
          <mat-select formControlName="time_type" required>
            <mat-option *ngFor="let type of time_types" [value]="type.type">
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="eventForm.controls['time_type'].hasError('required')">
            This field is <strong>required</strong>. Available options is based on start and end time.
          </mat-error>
        </mat-form-field>

        <app-datetime
          id="timeStart"
          class="row"
          (newDatetime)=onTimeStartChange($event)
          [dateLabel]="'Start Date'"
          [timeLabel]="'Start Time'"
          [isDateRequired]="true"
          [isTimeRequired]="true"
          [disableTime]="isStartTimeDisabled"
          [maxDate]="eventForm.get('time_end')?.value"
          [value]="eventForm.get('time_start')?.value">
        </app-datetime>

        <app-datetime
          id="timeEnd"
          class="row"
          (newDatetime)=onTimeEndChange($event)
          [dateLabel]="'End Date'"
          [timeLabel]="'End Time'"
          [isDateRequired]="true"
          [isTimeRequired]="true"
          [disableTime]="isEndTimeDisabled"
          [minDate]="eventForm.get('time_start')?.value"
          [value]="eventForm.get('time_end')?.value">
        </app-datetime>

        <app-datetime
          id="timePublish"
          class="row"
          (newDatetime)=onTimePublishChange($event)
          [dateLabel]="'Publish Date'"
          [timeLabel]="'Publish Time'"
          [maxDate]="eventForm.get('time_start')?.value"
          [value]="eventForm.get('time_publish')?.value"
          [prefillWithTimeNow]="true">
        </app-datetime>
      </div>
    </div>

    <div class="block">
      <h2>Signup</h2>
      <div class="signup-grid">
        <mat-form-field id="link-signup" class="row">
          <input matInput formControlName="link_signup">
          <mat-label>Signup Link</mat-label>
        </mat-form-field>

        <app-datetime
          id="release"
          (newDatetime)=onSignupReleaseChange($event)
          [dateLabel]="'Release Date'"
          [timeLabel]="'Release Time'"
          [maxDate]="eventForm.get('time_signup_deadline')?.value"
          [value]="eventForm.get('time_signup_release')?.value">
        </app-datetime>

        <app-datetime
          id="deadline"
          (newDatetime)=onSignupDeadlineChange($event)
          [dateLabel]="'Deadline Date'"
          [timeLabel]="'Deadline Time'"
          [minDate]="eventForm.get('time_signup_release')?.value"
          [value]="eventForm.get('time_signup_deadline')?.value">
        </app-datetime>

        <mat-form-field id="capacity" class="row">
          <input matInput type="number" min="0" step="1" formControlName="capacity" placeholder="Enter number">
          <mat-label>Capacity</mat-label>
          <mat-error *ngIf="eventForm.controls['capacity'].hasError('min')">
            Number must be <strong>positive</strong>
          </mat-error>
          <mat-error *ngIf="eventForm.controls['capacity'].hasError('decimal')">
            Number cannot be a <strong>decimal</strong>
          </mat-error>
        </mat-form-field>
        <mat-slide-toggle style="margin-left: 1rem;">Is full</mat-slide-toggle>
      </div>
    </div>

    <div class="block">
      <h2>Image Links</h2>
      <button class="img-manager-btn" (click)="imageManager()" mat-raised-button color="primary">
        <span class="material-symbols-sharp">upload</span>Event Images
      </button>

      <app-image-selector
        [title]="'Image Banner'"
        [value]="eventForm.get('image_banner')?.value"
        [path]="'/events/banner'"
        (valEmitter)="onImageBannerChange($event)"
      ></app-image-selector>

      <app-image-selector
        [title]="'Image Small'"
        [value]="eventForm.get('image_small')?.value"
        [path]="'/events/small'"
        (valEmitter)="onImageSmallChange($event)"
      ></app-image-selector>
    </div>

    <div class="block">
      <h2>Social Links</h2>
      <mat-form-field class="row">
        <input matInput formControlName="link_facebook">
        <mat-label>Facebook Link</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="link_discord">
        <mat-label>Discord Link</mat-label>
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="link_stream">
        <mat-label>Stream Link</mat-label>
      </mat-form-field>
    </div>
  </div>
</form>
