.box {
  position: relative;
  width: 100%;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.3rem;
}

/* ============================= TOPBAR ========================= */
.topbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem; 
}

.topbar .left, .topbar .right {
  flex: 1;
  display: flex;
}

.topbar .right {
  padding-left: 1rem;
}



.emoji-wrapper {
  position: relative; 
}

.emoji-mart {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transform: scale(0.8);
  transform-origin: top left;
}

/* ============================= TEXTAREA + MARKDOWN-AREA ========================= */
.content {
  display: flex;
  width: 100%;
}

.binding,
.textarea {
  flex: 1;
}

.textarea {
  width: 100%;
  border-radius: var(--radius-standard);
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  min-height: 35rem;
  padding: 0.8rem;
  margin-right: 1rem;
  resize: vertical;
  background-color: #4A4A4A;
  color: #ffffff;
}

textarea:hover {
  background-color: #575757;
}

.binding {
  border-radius: 0.2rem;
  padding: 0.8rem;
  background-color: #4A4A4A;
  color: #ffffff;
}

.table-wrapper {
  position: relative;
}

/* Style for the table input fields */
.table-inputs {
  position: absolute; 
  border-radius: var(--radius-standard);
  background: var(--color-dark-grey);
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  z-index: 1;
  left: 0;
}

/* Style for the input fields within the table input container */
.table-inputs input {
  width: 5rem;
}

/* Style for the "Generate" button */
.table-inputs button {
  background-color: var(--color-primary);
  color: var(--color-black);
  border-radius: var(--radius-standard);
  width: 100%;
  margin-top: 0.35rem;
  padding: 0.2rem;
  cursor: pointer;
}