<div class="box">
    <div class="topbar">
        <div class="left">
            <button class="menu-btn square-btn" (click)="makeBold()" title="Bold"><strong>B</strong></button>
            <button class="menu-btn square-btn" (click)="makeItalic()" title="Italic"><em>I</em></button>
            
            <div #emojiWrapper class="emoji-wrapper">
                <button class="menu-btn square-btn" (click)="toggleEmojiPicker()" title="Emoji">🥰</button>
                <emoji-mart
                    *ngIf="showEmojiPicker"
                    class="emoji-mart"
                    emoji="point_up"
                    [autoFocus]="true"
                    [totalFrequentLines]="totalFrequentLines"
                    color="#fd8738"
                    (emojiSelect)="insertEmoji($event)"
                ></emoji-mart>
            </div>
            
            <div #tableWrapper class="table-wrapper">
                <button class="menu-btn square-btn" (click)="toggleTableMaker()" title="Table">T</button>
                <div class="table-inputs" *ngIf="showTableInputs">
                    <label>Rows:</label>
                    <input type="number" placeholder="Rows" [(ngModel)]="tableRows">
                    <label>Cols:</label>
                    <input type="number" placeholder="Columns" [(ngModel)]="tableColumns">
                    <button (click)="generateTable()" title="Generate Table">Generate</button>
                </div>
            </div>

            <div #speedpresTableWrapper class="table-wrapper">
                <button class="menu-btn square-btn" (click)="toggleSpeedpresTableMaker()" title="Speedpres table">SP</button>
                <div class="table-inputs" *ngIf="showSpeedpresTableInputs">
                    <label>Companies:</label>
                    <input type="number" placeholder="F.ex 10" [(ngModel)]="sp_entries">
                    
                    <label>Start time:</label>
                    <input type="time" [(ngModel)]="sp_starttime">

                    <label>Length (min):</label>
                    <input type="number" placeholder="Pres. length" [(ngModel)]="sp_length">

                    <label>Pause (min):</label>
                    <input type="number" placeholder="Pause length" [(ngModel)]="sp_pause">
                    
                    <button (click)="generateSpeedpresTable()" title="Generate Speedpres Table">Generate</button>
                </div>
            </div>
        </div>
        <div class="right">
            <p class="title">HTML Preview:</p>
        </div>
    </div>
    <div class="content">
        <textarea class="textarea" [(ngModel)]="markdown" placeholder={{placeholder}} #textarea></textarea>
        <markdown #mdComponent class="binding beehive-html-styles" [data]="markdown"></markdown>
    </div>
</div>