.box {
  position: relative;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  margin-bottom: 1rem; /* Optional: add some margin below the topbar */
}

.topbar .left, .topbar .right {
  flex: 1;
  display: flex;
  padding-left: 0.5rem;
}

.menu-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid #fd8738; /* change to the color of your choice */
  border-radius: 4px;
  background-color: #3b3b3b; /* change to the color of your choice */
  color: white; /* change to the color of your choice */
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s;
}

.menu-btn:hover {
  background-color: #fd8738; /* change to the color of your choice */
  color: #3b3b3b; /* change to the color of your choice */
}

.emoji-wrapper {
  position: relative; 
  display: inline-block; /* So the wrapper doesn't take up the entire width */
}

.emoji-mart {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transform: scale(0.8);
  transform-origin: top left;
}

.content {
  display: flex;
  width: 100%;
}

.binding,
.textarea {
  flex: 1;
}

.textarea {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  min-height: 35rem;
  padding: 0.8rem;
  margin-right: 1rem;
  resize: vertical;
  background-color: #4A4A4A;
  color: #ffffff;
}

.binding {
  border-radius: 0.3rem;
  padding: 0.8rem;
  background-color: #4A4A4A;
  color: #ffffff;
}
