<form [formGroup]="timeForm">
  <mat-form-field class="input">
    <mat-label>{{dateLabel}}</mat-label>
    <input matInput
            [matDatepicker]="date" min="{{this.minDate | date:'yyyy-MM-dd'}}"
            formControlName="date"
            [min]="minDate"
            [max]="maxDate"
            [required]="isDateRequired">
    <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
    <mat-error *ngIf="timeForm.controls['date'].hasError('matDatepickerParse') || timeForm.controls['date'].hasError('matDatepickerMin')">
      Invalid, format is <strong>DD/MM/YYYY</strong>.
    </mat-error>
    <mat-error *ngIf="timeForm.controls['date'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" [class.disabled]="disableTime">
    <mat-label>{{timeLabel}}</mat-label>
    <input matInput
            type="time"
            [readonly]="disableTime ? 'readonly' : null"
            formControlName="time"
            [required]="isTimeRequired && !disableTime">
    <mat-error *ngIf="timeForm.controls['date'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>         
  </mat-form-field>
</form>