<form [formGroup]="timeForm" (change)="onValueChange()">
  <mat-form-field class="input">
    <mat-label>{{dateLabel}}</mat-label>
    <input matInput
            (dateChange)="onValueChange()"
            [matDatepicker]="date" min="{{this.minDate | date:'yyyy-MM-dd'}}"
            formControlName="date"
            [required]="isDateRequired">
    <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
    <mat-error *ngIf="timeForm.controls['date'].hasError('matDatepickerParse') || timeForm.controls['date'].hasError('matDatepickerMin')">
      Invalid, format is <strong>DD/MM/YYYY</strong>.
    </mat-error>
    <mat-error *ngIf="timeForm.controls['date'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" [class.disabled]="timeForm.get('isTimeDisabled')?.value">
    <mat-label>{{timeLabel}}</mat-label>
    <input matInput
            type="time"
            [attr.disabled]="timeForm.get('isTimeDisabled')?.value ? 'disabled' : null"
            formControlName="time"
            [required]="isTimeRequired && !timeForm.get('isTimeDisabled')?.value">
    <mat-error *ngIf="timeForm.controls['date'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>         
  </mat-form-field>
  
  <mat-slide-toggle *ngIf="timeDisableable" formControlName="isTimeDisabled" (click)="onValueChange()">No time</mat-slide-toggle>
</form>