<h1>Edit Event</h1>

<ng-container  *ngIf="event">
    <p class="weak-text">Last updated: {{timeUpdated}}</p>
    <app-event-form [event]="event"></app-event-form>
</ng-container>

<button class="submit-btn" type="submit" (click)="updateEvent()" mat-raised-button color="primary">
    <span class="material-symbols-sharp">save</span>Update
</button>
<button class="submit-btn" (click)="cancelEvent()" mat-raised-button color="warn">
    <span class="material-symbols-sharp">event_busy</span>Cancel The Event
</button>