<div class="container">
    <!-- Display a message to the user about redirection -->
    <p>Redirecting to SAML login...</p>

    <!-- Optional: Add a button to manually initiate SAML login if needed -->
    <!-- This can be useful for users who navigate directly to this page -->
    <button (click)="redirectToSaml()" mat-raised-button color="primary">
        <span class="material-symbols-sharp">login</span> Login with SAML
    </button>

    <!-- Display feedback message if there is any -->
    <div *ngIf="feedback" class="feedback">
        {{ feedback }}
    </div>
</div>
