<div>
    <h1>Locations</h1>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="block">  
        <mat-tab label="Address">
            <div class="data-table">
                <app-data-table-address></app-data-table-address>
            </div>
        </mat-tab>

        <mat-tab label="MazeMap">
            <div class="data-table">
                <app-data-table-mazemap></app-data-table-mazemap>
            </div>
        </mat-tab>

        <mat-tab label="Coordinates">
            <div class="data-table">
                <app-data-table-coords></app-data-table-coords>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
  