<div class="navbar">
  <div class="top">
    <div class="logo">
      <img src="./assets/img/logo-white-small.svg">
      <h2>ADMIN QUEENBEE</h2>
    </div>
  </div>

  <div class="sidebar">
    <!-- Sidebar menus. Not the cleanest and shortest implementation... -->
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="material-symbols-sharp">grid_view</span>
      <h3>Dashboard</h3>
    </a>
    <a routerLink="/events" routerLinkActive="active">
      <span class="material-symbols-sharp">festival</span>
      <h3>Events</h3>
    </a>
    <a routerLink="/job-ads" routerLinkActive="active">
      <span class="material-symbols-sharp">work</span>
      <h3>Job Ads</h3>
    </a>
    <a routerLink="/organizations" routerLinkActive="active">
      <span class="material-symbols-sharp">corporate_fare</span>
      <h3>Organizations</h3>
    </a>
    <a routerLink="/locations" routerLinkActive="active">
      <span class="material-symbols-sharp">location_on</span>
      <h3>Locations</h3>
    </a>
    <a routerLink="/rules" routerLinkActive="active">
      <span class="material-symbols-sharp">gavel</span>
      <h3>Rules</h3>
    </a>
    <a routerLink="/logout" routerLinkActive="active">
      <span class="material-symbols-sharp">logout</span>
      <h3>Log Out</h3>
    </a>
  </div>
</div>
