<div class="sidebar">
  <app-nav-btn
    title="Dashboard"
    link="/dashboard"
    symbol="grid_view"
  ></app-nav-btn>

  <app-nav-btn
    title="Events"
    link="/events"
    symbol="festival"
  ></app-nav-btn>

  <app-nav-btn
    title="Job Ads"
    link="/jobs"
    symbol="work"
  ></app-nav-btn>

  <app-nav-btn
    title="Organizations"
    link="/organizations"
    symbol="corporate_fare"
  ></app-nav-btn>

  <app-nav-btn
    title="Locations"
    link="/locations"
    symbol="location_on"
  ></app-nav-btn>

  <app-nav-btn
    title="Rules"
    link="/rules"
    symbol="gavel"
  ></app-nav-btn>
</div>
