<form [formGroup]="jobAdForm">
    <div class="form">
        <hr>
        <div class="block">
        <h2>General Information</h2>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="block">
            <mat-tab label="🇳🇴 NOR">
                <mat-form-field class="row">
                    <input matInput formControlName="title_no" required>
                    <mat-label>Ad Title NOR</mat-label>
                </mat-form-field>

                <mat-form-field class="row">
                    <input matInput formControlName="position_title_no" required>
                    <mat-label>Position Title NOR</mat-label>
                </mat-form-field>

                <mat-form-field class="row">
                    <input matInput formControlName="description_short_no" required>
                    <mat-label>Short Description NOR</mat-label>
                </mat-form-field>

                <app-markdown-textfield (newHtmlText)=onDescriptionNoChange($event) [placeholder]="'Long Description NOR'" class="row"></app-markdown-textfield>
            </mat-tab>

            <mat-tab label="🇺🇸 ENG">
                <mat-form-field class="row">
                    <input matInput formControlName="title_en">
                    <mat-label>Ad Title ENG</mat-label>
                </mat-form-field>

                <mat-form-field class="row">
                    <input matInput formControlName="position_title_en">
                    <mat-label>Position Title ENG</mat-label>
                </mat-form-field>

                <mat-form-field class="row">
                    <input matInput formControlName="description_short_en">
                    <mat-label>Short Description ENG</mat-label>
                </mat-form-field>

                <app-markdown-textfield (newHtmlText)=onDescriptionEnChange($event) [placeholder]="'Long Description ENG'" class="row"></app-markdown-textfield>
            </mat-tab>
        </mat-tab-group>

          <!-- Drop Down menu with Autocomplete capabilities for organizations -->
          <div>
            <mat-form-field class="dd" *ngIf="organizations.length > 0; else elseOrgBlock">
              <mat-label>Organization</mat-label>
              <input
                type="text"
                matInput
                [formControl]="autoControlOrgs"
                [matAutocomplete]="autoOrg"
              />

              <mat-autocomplete autoActiveFirstOption #autoOrg="matAutocomplete" [displayWith]="displayOrganizationFn">
                <mat-option
                  *ngFor="let o of filteredOrgs | async"
                  [value]="o"
                >
                  {{ o.name }}
                </mat-option>
              </mat-autocomplete>

              <mat-error *ngIf="jobAdForm.controls['organization'].hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <ng-template #elseOrgBlock>Could not fetch organizations input!</ng-template>
          </div>

        <!-- THIS WILL PROBABLY BE REPLACE BY A TOGGLE SOMEHOW-->
        <mat-form-field class="dd">
            <mat-label>Remote Posibility</mat-label>
            <mat-select required>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>¨
            </mat-select>
        </mat-form-field>

        <mat-form-field class="dd">
            <mat-label>Type</mat-label>
            <mat-select formControlName="job_type" required>
              <!-- Hardcoded option value types. Acceptable for now because they are unlikely to be changed, and if so easy to refactor -->
              <mat-option [value]="'full'">Full Time</mat-option>
              <mat-option [value]="'part'">Part Time</mat-option>
              <mat-option [value]="'summer'">Summer</mat-option>
              <mat-option [value]="'verv'">Verv</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="dd">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
              <mat-option *ngFor="let p of priorities" [value]="p.value">
                {{p.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <app-datetime (newDatetime)=onPublishChange($event) [dateLabel]="'Publish Date'" [timeLabel]="'Publish Time'"></app-datetime>
    
        <app-input-selector
            #skillSelector
            [label]="'Skills'"
            [inputPlaceholder]="'Enter skill'"
          ></app-input-selector>

        <app-input-selector
          #citySelector
          [label]="'Cities'"
          [inputPlaceholder]="'Enter city'"
        ></app-input-selector>
    </div>

    <div class="block">
        <h2>Application</h2>
        <mat-form-field class="row">
            <input matInput formControlName="application_url">
            <mat-label>Application URL</mat-label>
        </mat-form-field>
        <mat-form-field class="row">
            <input matInput formControlName="application_email">
            <mat-label>Application Email</mat-label>
        </mat-form-field>
        <app-datetime (newDatetime)=onDeadlineChange($event) [dateLabel]="'Deadline Date'" [timeLabel]="'Deadline Time'"></app-datetime>
    </div>

    <div class="block">
        <h2>Contact</h2>
        <mat-form-field class="row">
            <input matInput formControlName="contact_phone">
            <mat-label>Contact Phone</mat-label>
        </mat-form-field>
        <mat-form-field class="row">
            <input matInput formControlName="contact_email">
            <mat-label>Contact Email</mat-label>
        </mat-form-field>
    </div>

    <div class="block">
        <h2>Image</h2>
        <mat-form-field class="row">
            <input matInput formControlName="image_small">
            <mat-label>Image Small</mat-label>
        </mat-form-field>
        <mat-form-field class="row">
            <input matInput formControlName="image_large">
            <mat-label>Image Large</mat-label>
        </mat-form-field>
    </div>
</div>
</form>
