.topbar {
  background-color: var(--color-black);
  height: 5rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  margin-left: auto;
  margin-right: 2rem;
}

h3 {
  font-weight: 500;
}

.logout a {
  text-decoration: none;
  display: flex;
  color: var(--color-info-light);
  align-items: center;
  position: relative;
}

.logout a:hover {
  color: var(--color-primary);
}

.top {
  display: flex;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 1.5rem;
  vertical-align: center;
}

.logo {
  display: flex;
}

.logo img {
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
}
